@import "_reset.scss";
@import "_public.scss";

/* blog.css */
.blog-title {
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  font-style: italic;
}

.blog-title .title-content {
  float : left;
}


.blog-title .title-content p {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 30px;
}

.blog-panel {
  position: relative;
  width: 1200px;
  height: 100%;
  margin-top: 120px;
}


.left-list .list-item {
  height: 200px;
  // border: 1px solid #000;
  margin-bottom: 100px;
  margin-top: 20px;
}

.left-list .list-item .title {
  font-size: 24px;
  font-weight: 400;
  color: #000;
}

.left-list .list-item .title .sub-title {
  color: #636363;
  font-size: 12px;
  margin-top: 6px;
}

.left-list .list-item .content {
  // height: 230px;
  background: #e0e0e0;
  margin-top: 20px;
}

.left-list .list-item > p {
  color: #2f2f2f;
  font-size: 14px;
  margin-top: 12px;
}

.left-list .list-item .border {
  height: 2px;
  background: #B3ADAD;
  margin-top: 60px;
}

.left-list .list-item .links {
  margin-top: 12px;
}

.left-list .list-item .links .left-item {
  float: left;
  margin-right: 10px;
}

.left-list .list-item .links .right-item {
  float: right;
}

.left-list .list-item .links .left-item a {
  color: #000;
}

.read-article {
  width: 124px;
  height: 22px;
  background: #202020;
  text-align: center;
  line-height: 22px;
  color: #fff;  
}

.read-article input {
  width: 124px;
  height: 22px;
  background: #202020;
  color: #fff;  
}

.read-article input:hover {
  cursor: pointer;
}


.share-group li {
  display: inline-block;
}

.share-group li a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin-right: 20px;
}


.redactor_toolbar {
  display: none;
}

.redactor_editor {
  height: 100px;
  background: #e0e0e0 !important;
  width: 100%;
  overflow: hidden;
  padding: 2px !important;
}


.nav-login {
  float: right;
  margin-right: 50px;
  font-family: "Segoe UI";
  font-weight: 700;
  color: #fff; 
  line-height: 60px;
}
 
.nav-login .user-name span {
  color: #fff;
}

.nav-login .user-name {
  color: #de2323;
}

.nav-login a:hover {
  color: #de2323;
  text-decoration: underline;
}

.nav-login .login-item {
  float: left;
}