@import "_reset.scss";
@import "_public.scss";

.blog-title {
  height: 20px;
  margin-bottom: 10px;
  text-align: left;
  font-size: 20px;
  font-weight: 700;
  font-style: italic;
}

.panel-left >.line{
  height: 4px;
  background: #B3ADAD;
  margin-bottom: 40px;
}

.left-message .line {
  position: relative;
  height: 2px;
  background: #B3ADAD;
  margin-bottom: 30px;
}

.left-message .message-text {
  position: relative;
  width: 100%;
  height: 160px;
}

.message-text > ul {
  position: relative;
  margin-top: 20px;
}

.message-text > ul li {
  float: left;
  margin-right: 20px;
}

.message-text .message-content {
  margin-top: 40px;
  margin-left: 20px;
  font-weight: 700;
}

.left-message .clock {
  position: relative;
  float: right;
  height: 20px;
  margin-top: -24px;
}

.left-message .control {
  position: relative;
  height: 20px;
  float: left;
  margin-top: -24px;
}

.left-message .control .control-item {
  float: left;
  margin-right: 10px;
}

.blog-panel form{
  display: none;
  font-size: 14px;
  color: #000;
  font-weight: 700; 
}
 

.blog-panel form input {
  width: 300px;
  height: 50px;
  margin-bottom: 20px;
  border: 2px solid #B3ADAD;
  background: transparent;
  color: #5E5858;
  font-size: 14px;
  font-weight: 700;
}

.blog-panel form textarea {
  width: 800px;
  height: 100px;
  background: transparent;
  border: 2px solid #B3ADAD;
  color: #000;
  font-size: 16px; 
  outline: none;
}