@charset "UTF-8";
/* reset.css */
body, div, dl, dt, dd, ul, li, h1, h2, section,
h3, h4, h5, h6, input, form, a, p, textarea {
  margin: 0 auto;
  padding: 0;
  font-family: 幼圆, "Adobe Fan Heiti Std B", Arial, sans-serif; }

body {
  background: #fff;
  overflow-x: hidden;
}

ol, ul, li {
  list-style: none; }

a {
  text-decoration: none;
  display: block;
  color: #fff; }

img {
  border: none;
  display: block; }

/*清除浮动*/
.clearfloat {
  zoom: 1; }

.clearfloat:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0; }

body {
  width: 100%;
  height: 100%; }

.body-wapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.body-bg {
  position: fixed;
  top: 0;
  left: 0;
  background: url("../images/banner.jpg");
  background-color: #222;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding: 0;
  width: 100%;
  height: 100%; }

.body-wapper .body-left {
  float: left;
  width: 20%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1); }

.body-wapper .body-right {
  float: right;
  width: 80%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3); }

.body-right .article-content {
  position: relative; }

.article-title {
  text-align: center;
  margin: 20px;
  color: #fff; }

pre {
  font-size: 20px;
  color: #fff; }
