@charset "UTF-8";
/* reset.css */
body, div, dl, dt, dd, ul, li, h1, h2, section,
h3, h4, h5, h6, input, form, a, p, textarea {
  margin: 0 auto;
  padding: 0;
  font-family: "Segoe UI", "Adobe Fan Heiti Std B", Arial, sans-serif; }

body {
  overflow-x: hidden;
  margin: 0 auto; }

ol, ul, li {
  list-style: none; }

a {
  text-decoration: none;
  display: block;
  color: #fff; }

img {
  border: none;
  display: block; }

/*清除浮动*/
.clearfloat {
  zoom: 1; }

.clearfloat:after {
  display: block;
  clear: both;
  content: '';
  visibility: hidden;
  height: 0; }

.public-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  z-index: 200;
  background: -webkit-radial-gradient(#212121, #393939, #212121);
  /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#212121, #393939, #212121);
  /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(#212121, #393939, #212121);
  /* Firefox 3.6 - 15 */
  background: radial-gradient(#212121, #393939, #212121);
  /* 标准的语法（必须放在最后） */ }

.public-header .header-body {
  width: 1536px;
  margin: 0 auto; }

.public-header .header-logo {
  float: left;
  margin-left: 160px;
  color: #fff;
  font-size: 30px;
  font-weight: 550;
  line-height: 60px;
  font-style: italic; }

.public-header .header-logo > span {
  color: #de2323; }

.public-header .header-menu {
  float: right;
  margin-right: 150px; }

.public-header .header-menu li {
  float: left; }

.public-header .header-menu .item {
  margin-right: 12px;
  width: 120px;
  height: 28px;
  text-align: center;
  line-height: 28px;
  outline: 0;
  padding: 5px 12px;
  display: block;
  font-weight: 700;
  font-size: 14px;
  font-style: italic;
  text-shadow: 1px 1px #1f272b;
  border: 1px solid #1c252b;
  border-bottom-left-radius: 8px;
  -moz-border-bottom-left-radius: 8px;
  -webkit-border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  -moz-border-bottom-right-radius: 8px;
  -webkit-border-bottom-right-radius: 8px;
  background: #1e1e1e;
  /* old browsers */
  background: -moz-linear-gradient(top, #3D4850 3%, #313d45 4%, #1e1e1e 100%);
  /* firefox */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(3%, #3D4850), color-stop(4%, #313d45), color-stop(100%, #1e1e1e));
  /* webkit */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3D4850', endColorstr='#1e1e1e',GradientType=0 );
  /* ie */
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* CSS3 */
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Firefox */
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  /* Safari, Chrome */ }

.public-header .header-menu .item a {
  color: #f7f7f7; }

.header-menu .item:hover {
  background: #eb5252; }

.public-header .header-menu .active {
  background: #de2323; }

.blog-title {
  width: 100%;
  height: 90px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 17px;
  font-weight: 700;
  font-style: italic; }

.blog-title .title-content {
  float: left; }

.blog-title .title-content p {
  font-size: 14px;
  font-weight: 400;
  border-bottom: 2px solid #e0e0e0;
  padding-bottom: 30px; }

.blog-panel {
  position: relative;
  width: 1200px;
  height: 100%;
  margin-top: 120px; }

.blog-panel .panel-left {
  float: left;
  width: 800px;
  margin-left: 0;
  margin-bottom: 100px; }

.blog-panel .panel-right {
  position: fixed;
  left: 900px;
  height: 1000px;
  width: 300px;
  right: 0;
  top: 120px;
  margin-bottom: 100px; }

.panel-right .new-file {
  display: block;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 40px;
  color: #3D4850;
  font-size: 30px; }

.panel-right .new-file:hover {
  color: #202020;
  text-decoration: underline; }

.right-list .list-canvas {
  position: relative;
  height: 80px;
  width: 280px;
  margin-top: 20px;
  box-shadow: 0 0 0 5px #1e1e1e, 0 0 0 10px #de2323;
  border-radius: 10px; }

.right-list .Calendar {
  position: relative;
  margin-top: 60px;
  background: #e0e0e0; }

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  color: #fff;
  height: 90px;
  width: 100%;
  text-align: center;
  background: -webkit-radial-gradient(#212121, #393939, #212121);
  /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#212121, #393939, #212121);
  /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(#212121, #393939, #212121);
  /* Firefox 3.6 - 15 */
  background: radial-gradient(#212121, #393939, #212121);
  /* 标准的语法（必须放在最后） */ }

footer ul.share-group {
  display: block;
  width: 1080px;
  margin: 0 auto;
  line-height: 60px; }

.share-group li {
  display: inline-block; }

.share-group li a {
  text-decoration: none;
  color: #fff;
  font-size: 30px;
  margin-right: 20px; }

.redactor_toolbar {
  display: none; }

.redactor_editor {
  height: 100px;
  background: #e0e0e0 !important;
  width: 100%;
  overflow: hidden;
  padding: 2px !important; }

.nav-login {
  float: right;
  margin-right: 50px;
  font-family: "Segoe UI";
  font-weight: 700;
  color: #fff;
  line-height: 60px; }

.nav-login .user-name span {
  color: #fff; }

.nav-login .user-name {
  color: #de2323; }

.nav-login a:hover {
  color: #de2323;
  text-decoration: underline; }

.nav-login .login-item {
  float: left; }

.index-banner {
  position: relative;
  margin: 0 auto;
  height: 650px;
  background-image: url("../images/banner.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 100px 0;
  text-align: center; }

.index-banner .banner-text {
  text-transform: uppercase;
  font-size: 42px;
  font-weight: 300;
  color: #fff;
  font-weight: 400;
  letter-spacing: 2px;
  word-spacing: 4px;
  margin-top: 220px; }

.index-banner .banner-text .text1 {
  display: inline-block;
  margin-bottom: 30px;
  padding: 20px 10px;
  background: #4b565e; }

.index-banner .banner-text .text2 {
  display: inline-block;
  background: #4b565e;
  padding: 20px 10px; }

.index-funny {
  position: relative;
  height: 262px; }

.index-funny .funny-panel {
  position: absolute;
  top: 150px;
  left: 50%;
  height: 262px;
  width: 1200px;
  margin-left: -600px; }

.index-funny .funny-panel .item {
  float: left;
  width: 300px;
  height: 260px; }

.index-funny {
  position: relative;
  width: 1600px;
  height: 850px; }

.index-funny .funny-title {
  position: absolute;
  top: 76px;
  left: 150px;
  font-size: 30px;
  font-weight: 300;
  color: #de2323;
  text-decoration: underline;
  letter-spacing: 1px; }

.index-funny .funny-panel .item {
  margin-bottom: 30px; }

.index-feature {
  position: relative;
  width: 100%;
  height: 460px;
  background: #eb5252; }

.feature-body {
  position: relative;
  width: 1600px;
  height: 460px;
  background: #eb5252; }

.feature-content {
  float: left;
  margin-left: 10%;
  width: 40%;
  margin-top: 70px; }

.feature-content .content-title {
  font-size: 30px;
  font-weight: 300;
  color: #fff;
  text-decoration: underline; }

.feature-content p {
  margin-top: 30px;
  color: #fff;
  font-size: 14px;
  font-weight: 400; }

.article-btn {
  margin-left: 0;
  margin-top: 40px;
  width: 140px;
  height: 40px;
  border: 2px solid #353f46;
  line-height: 40px;
  text-align: center; }

.article-btn:hover {
  border: 2px solid #fff; }

.article-btn:hover a {
  color: #fff; }

.article-btn a {
  color: #353f46;
  font-weight: 700;
  font-size: 14px; }

.feature-img {
  float: right;
  margin-top: 30px;
  margin-right: 10%; }

.feature-img img {
  height: 400px;
  width: auto; }

.index-contact {
  position: relative;
  width: 100%;
  height: 360px;
  background: #eb5252; }

.contact-body {
  position: relative;
  width: 1600px;
  height: 360px;
  background: #eb5252; }

.index-contact .contact-icon,
.index-contact .contact-me {
  font-size: 30px;
  color: #fff;
  margin-top: 70px; }

.index-contact .contact-me {
  float: left;
  margin-left: 150px;
  text-decoration: underline;
  font-weight: 300; }

.index-contact .contact-icon {
  float: right;
  margin-right: 150px; }

.index-contact p {
  position: absolute;
  top: 150px;
  left: 150px;
  font-size: 28px;
  color: #fff;
  font-weight: 300; }

.index-aboutme {
  position: relative;
  height: 200px;
  background-image: url("../images/aboutme.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 100px 0; }

.index-aboutme .about-img {
  margin: 0 auto; }

.index-aboutme .about-me {
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -560px;
  width: 1600px; }

.index-aboutme .about-message {
  text-decoration: underline; }

.index-aboutme .about-message:hover {
  color: #eb5252; }

.index-aboutme .about-me {
  width: 1200px;
  height: 100%; }

.index-aboutme .about-me .item {
  float: left;
  width: 560px;
  height: 100%;
  margin-top: 90px;
  margin-right: 30px; }

.index-aboutme .about-me .item .title {
  font-size: 30px;
  color: #fff;
  font-weight: 300;
  text-decoration: underline; }

.index-aboutme .about-me .item .content {
  font-size: 14px;
  color: #fff;
  font-weight: 400;
  margin-top: 40px; }

.index-aboutme .about-me .item .link-item {
  float: left;
  width: 64px;
  height: 60px;
  border: 2px solid #fff;
  line-height: 60px;
  text-align: center;
  margin-right: 24px;
  margin-top: 30px; }

.index-aboutme .about-me .item .link-item a {
  font-size: 30px; }

.index-testimonials {
  position: relative;
  width: 100%;
  height: 360px;
  background: #fff; }

.testimonials-body {
  position: relative;
  width: 1600px;
  height: 360px;
  background: #fff; }

.testimonials-title {
  float: left;
  margin-left: 150px;
  margin-top: 20px;
  font-weight: 300;
  text-decoration: underline; }

.testimonials-icon {
  float: right;
  margin-right: 150px; }

.testimonials-title,
.testimonials-icon {
  font-size: 30px;
  color: #de2323; }

.index-testimonials p {
  display: block;
  position: absolute;
  top: 150px;
  left: 150px;
  width: 1160px;
  font-size: 28px;
  color: #de2323;
  font-weight: 300;
  line-height: 50px; }

.index-testimonials h5 {
  display: block;
  position: absolute;
  bottom: 50px;
  left: 150px;
  color: #eb5252;
  font-size: 14px; }

.index-leave-words {
  position: relative;
  height: 814px;
  background-image: url("../images/message.jpg");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #000;
  padding: 100px 0;
  height: 814px; }

.leave-words-body {
  position: relative;
  width: 1600px;
  height: 814px; }

.index-leave-words .message-title {
  position: absolute;
  top: 70px;
  left: 150px;
  color: #fff;
  font-size: 30px;
  font-weight: 300;
  text-decoration: underline; }

.index-leave-words form {
  position: absolute;
  top: 350px;
  left: 150px;
  font-size: 14px;
  color: #fff;
  font-weight: 700; }

.index-leave-words form input {
  width: 470px;
  height: 50px;
  margin-bottom: 20px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  font-size: 14px;
  font-weight: 700; }

.index-leave-words form textarea {
  width: 1180px;
  height: 220px;
  background: transparent;
  border: 2px solid #fff;
  color: #fff;
  font-size: 16px;
  outline: none; }

.index-leave-words form textarea:hover,
.index-leave-words form textarea:focus {
  border: 2px solid #eb5252; }

.index-leave-words form .message-submit {
  float: left;
  width: 370px;
  height: 62px;
  background: #eb5252;
  border: none;
  margin-top: 30px; }

.index-leave-words form .message-submit:hover {
  background: #de2323;
  cursor: pointer; }

.index-leave-words form a {
  float: right;
  margin-top: 70px;
  margin-right: 190px; }

.index-leave-words form a:hover {
  text-decoration: underline;
  color: #de2323; }

.index-leave-words .message-text {
  display: block;
  position: absolute;
  top: 120px;
  left: 150px;
  width: 570px;
  height: 200px;
  color: #fff; }

.index-leave-words .message-text li:first-child {
  margin-bottom: 30px; }

.index-leave-words .message-text li {
  margin-bottom: 5px; }

.index-footer {
  position: relative;
  width: 1600px;
  height: 70px;
  background: -webkit-radial-gradient(#212121, #393939, #212121);
  /* Safari 5.1 - 6.0 */
  background: -o-radial-gradient(#212121, #393939, #212121);
  /* Opera 11.6 - 12.0 */
  background: -moz-radial-gradient(#212121, #393939, #212121);
  /* Firefox 3.6 - 15 */
  background: radial-gradient(#212121, #393939, #212121);
  /* 标准的语法（必须放在最后） */ }

.index-footer .footer-menu {
  position: relative;
  margin-left: 150px;
  line-height: 70px; }

.index-footer .footer-menu .item {
  float: left;
  margin-right: 16px; }

.index-footer .footer-menu .item a {
  color: #fff;
  font-size: 12px;
  font-weight: 600; }

.index-footer .footer-menu .item span {
  margin-left: 15px; }

.index-footer .footer-menu .last {
  float: right;
  margin-right: 150px;
  color: #fff;
  font-size: 12px;
  font-weight: 600; }

/*# sourceMappingURL=index.css.map */
