<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title><%=title %></title>
  <script src="../libs/jquery/dist/jquery.min.js"></script>
  <link rel="stylesheet" href="../css/font-awesome-4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="../css/cartoon.css">
  <script src="../js/cartoon.js"></script>
</head>
<body>
  <div class="public-header">
    <div class="header-body">
      <div class="header-logo">Sherry<span>H</span>olmes</div>
      <ul class="header-menu">
        <li class="item"><a href="/">Home</a></li>
        <li class="item active"><a href="/blog">Articles</a></li>
        <li class="item"><a href="/article/message">Messages</a></li>
        <li class="item"><a href="">Contact</a></li>
        <li class="nav-login">
          <% if(user) {%>
            <div class="login-item user-name">
              <%=user.name %><span> | </span>
            </div>
            <div class="login-item"><a href="/logout">Logout</a></div>
            <% } else {%>
              <a href="/login">Login<span> | </span>Logup</a>
              <% } %>
        </li>
      </ul>
    </div>
  </div>
  <div class="blog-panel">
    <ul class="cartoon-list">
      <% if(urls) { %>
        <% for (var i=0; i<urls.length; i++) { %>
          <li class="list-item cartoon-item" title=<%=urls[i].title %> data=<%=urls[i].url %> >
            <%=urls[i].title %>
            <img src="../cartoon/imglist/<%=urls[i].name%>" >
          </li>
        <% } }%>
    </ul>
  </div>
  <footer id="footer-link">
    <ul class="share-group">
      <li>
        <a target="_blank" href="http://github.com/" class="icon-github">
          <i class="fa fa-github fa-fw"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://google.com" class="icon-google-plus3">
          <i class="fa fa-google fa-fw"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://passport.weibo.com" class="icon-sina-weibo">
          <i class="fa fa-weibo fa-fw"></i>
        </a>
      </li>
      <li>
        <a target="_blank" href="http://ihaorui.me/" class="icon-comment">
          <i class="fa fa-home fa-fw"></i>
        </a>
      </li>
    </ul>
    <div class="copy">
      &copy SherryHolmes - 2017
    </div>
  </footer>
</body>
</html>
