<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>美句欣赏</title>
  <!-- 让IE使用最新版本的渲染模式 -->
  <meta http-equiv="X-UA-Compatible" content="IE-dege,chrome=1">
  <!-- 强制使宽度适应屏幕宽度，不允许用户缩放 -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!--  <link rel="stylesheet" href="http://fonts.useso.com/css?family=Josein+Slab:400,700" type="text/css"> -->
  <link rel="stylesheet" href="/css/normalize.css" type="text/css">
  <link rel="stylesheet" href="/css/knowMe.css" type="text/css">
</head>
<body>
  <div class="container">
    <div class="st-container">
      <!-- nav begin -->
      <!-- 用来判断当前选中的是哪个页面，直接在css中使用 :checked就可以获取到，不需要使用JS代码 -->
      <input type="radio" name="radio-set" checked="checked" id="st-control-1">
      <a href="#st-panel-1">Serendipity</a>
      <input type="radio" name="radio-set" id="st-control-2">
      <a href="#st-panel-2">Happiness</a>
      <input type="radio" name="radio-set" id="st-control-3">
      <a href="#st-panel-3">Tanquillity</a>
      <input type="radio" name="radio-set" id="st-control-4">
      <a href="#st-panel-4">Positivity</a>
      <input type="radio" name="radio-set" id="st-control-5">
      <a href="#st-panel-5">Passion</a>
      <!-- nav end -->
      
      <!-- 每个导航对应的页面 -->
      <div class="st-scroll">
        <section class="st-panel" id="st-panel-1">
          <div class="st-desc" data-icon="H"></div>
          <h2>Serendipity</h2>
          <p>因为这个世界上没有什么东西可以比得上孩子暗地里悄悄所怀的爱情！ 
          因为这种爱情不抱希望，低声下气，曲意逢迎，热情奔放…… 
          这和成年女人那种欲火炙烈，不知不觉中贪求无厌的爱情完全不同。只有孤独的孩子才能把全部的热情集聚起来。 
          我毫无阅历，毫无准备…… 
          我一头栽进我的命运，就像跌进一个深渊…… 
          从那一秒钟起，我的心里就只有一个人——就是你……
          <br>——茨威格《一个陌生女人的来信》</p>
        </section>
        <section class="st-panel st-color" id="st-panel-2">
          <div class="st-desc" data-icon="2"></div>
          <h2>Happiness</h2>
          <p>你说你喜欢雨，但是你在下雨的时候打伞。 
            <br>你说你喜欢太阳，但是你在阳光明媚的时候躲在阴凉的地方。 
            <br>你说你喜欢风，但是在刮风的时候你却关上窗户。 
            <br>这就是为什么我会害怕你说你也喜欢我。<br>——莎士比亚(存疑)</p>
        </section>
        <section class="st-panel" id="st-panel-3">
          <div class="st-desc" data-icon="B"></div>
          <h2>Tanquillity</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, similique, natus voluptatibus fuga nam quod possimus doloremque illo fugiat repellendus veritatis doloribus quae dignissimos suscipit expedita necessitatibus ratione accusamus explicabo.</p>
        </section>
        <section class="st-panel st-color" id="st-panel-4">
          <div class="st-desc" data-icon="x"></div>
          <h2>Positivity</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, similique, natus voluptatibus fuga nam quod possimus doloremque illo fugiat repellendus veritatis doloribus quae dignissimos suscipit expedita necessitatibus ratione accusamus explicabo.</p>
        </section>
        <section class="st-panel" id="st-panel-5">
          <div class="st-desc" data-icon="Ç"></div>
          <h2>Passion</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolorem, similique, natus voluptatibus fuga nam quod possimus doloremque illo fugiat repellendus veritatis doloribus quae dignissimos suscipit expedita necessitatibus ratione accusamus explicabo.</p>
        </section>        
      </div>
    </div>
  </div>
</body>
</html>